<ion-header>
  <ion-navbar>
    <ion-title>
      ToDo List
    </ion-title>
    <ion-buttons end>
      <button>
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  
  <ion-list>
    <ion-item *ngIf="tasks.length">
      No tasks
      <p>Click <ion-icon name="add-circle"></ion-icon> to add task </p>
    </ion-item>
    <ion-item-sliding *ngFor="let t of tasks">
      <ion-item>
        <ion-toggle></ion-toggle>
        <ion-label>
          <h2 [ngClass]="t.status">{{t.task}}</h2>
          <p [ngClass]="t.priority">{{t.priority}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <button primary> <ion-icon name="clipboard"></ion-icon> Edit </button>
        <button danger> <ion-icon name="trash"></ion-icon> Delete </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
