<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      ToDo List
    </ion-title>
    <ion-buttons end>
      <button>
        <ion-icon color="primary" name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  
  <ion-list>
    <ion-item *ngIf="tasks.length">
      No tasks
      <p>Click <ion-icon name="add-circle"></ion-icon> to add task </p>
    </ion-item>
    <ion-item-sliding *ngFor="let t of tasks">
      <ion-item>
        <ion-toggle> </ion-toggle>
        <ion-label>
          <p style="color: #000;" [ngClass]="t.status"> {{t.task}} </p><br>
          <p [ngClass]="t.priority"> {{t.priority}} </p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <button ion-button> <ion-icon name="clipboard"></ion-icon> Edit </button>
        <button ion-button color="danger"> <ion-icon name="trash"></ion-icon> Delete </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
